* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    padding: 20px;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-status {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #10A95B;
    width: 100%;
    max-width: 350px;
    height: 59px;
    padding: 8px 0px 8px 0px;
    border-radius: 4px;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 20px;
}

section.game-status.won {
    background-color: #10A95B;
}

section.game-status.lost {
    background-color: #BA2A2A;
}


.win-text {
    margin: 0px;
}

#well-done {
    font-size: 16px;
}

.chips-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1.5px;
    max-width: 350px;
    max-height: 51.5px;
    margin: auto;
}

.language-chip {
    border-radius: 3px;
    padding: 4.5px;
}

section.word {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px;
    margin-top: 30px;
}

.letters {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #F9F4DA;
    background-color: #323232;
    color: #F9F4DA;
    font-family: "Hanken Grotesk";
    font-size: 18px;
    font-weight: bold;
}

section.keyboard {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

section.keyboard > button {
    width: 40px;
    height: 40px;
    opacity: 50%;
    background-color: #FCBA29;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    font-weight: bold;
}

button.new-game {
    background-color: #11B5E5;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    width: 225px;
    height: 40px;
    padding: 6px 12px;
    display: block;
    margin-inline: auto;
    cursor: pointer;
}

section.keyboard > button.correct {
    background-color: #10A95B;
}

section.keyboard > button.wrong {
    background-color: #EC5D49;
}

span.chip.lost::before {
    content: "💀";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}


