* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

header {
    background-color: #FFF7ED;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.home-link {
    margin-right: auto;
    margin-left: 1rem;
}

nav {
    display: flex;
    width: 9rem;
    justify-content: flex-end;
    margin-right: 1rem;
}

nav > a {
    text-decoration: none;
    font-size: 1rem;
    margin: 1rem;
    color: #4D4D4D;
}

.page-container {
    margin: 0 auto;
    max-width: 50rem;
}

.home-container {
    background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../assets/images/home-hero.png") no-repeat center center;
    width: 50rem;
    min-height: 20rem;
    margin: auto;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}

.home-container > * {
    width: 80%;
}

.home-hero-image {
    width:100%;
}